{% extends 'doctorshots/base.html' %}
{% load static%}

{% load staticfiles%}

 {% block titulo %} Welcome to Doctor Shot {% endblock %} 
 {% block body %}<body class="sulley"> {% endblock %}
  {% block header %} <header class="header"> {% endblock %}

  {% block contenedor %}         
   {% endblock %}
   
  {% block parallax %}  
  <div   class="parallax-window"  data-parallax="scroll" data-image-src="{% static 'doctorshots/img/header.jpg'%}" >
    {% if request.session.logueado.3 != '1' and request.session.logueado.3 != '2' %}
   <div class="rotateIn animated letra sulley">¡¡Bienvenido!!</div>
    {% elif request.session.logueado.3 == '2' or request.session.logueado.3 == '1' %}
   <div class="rotateIn animated letra sulley">¡¡Bienvenido {{ request.session.logueado.4 }}!!</div> 
    {% endif %}

    <div class="col">
        <br><br><br><br><br><br><br><br>
        <img style="padding-left: 490px" src="{% static 'doctorshots/img/giphy (1).gif' %}" >   
    </div>
  {% endblock %}
