/* Styles para el navbar*/

.header {
    background-size: cover;
    height: 400px;
}

.header .navbar {
    background-color: #000000bf !important;
}

.header .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}


/* Login */

.body-login {
    background-image: url('../img/oWlyMvz.gif');
}

.header-login {
    background-size: cover;
}

.header-login .navbar {
    background-color: #000000bf !important;
}

.header-login .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem!important;
    padding-top: 60px;
}

div .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #00000082;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.body-empleado {
    background-image: url('../img/back.gif');
}