/* Styles para el navbar*/

.header {
    background-size: cover;
    height:auto;
}

.header-sales {
    background-size: cover;
    height:auto;
    padding-top: 70px;
}

.header .navbar {
    background-color: #000000bf !important;
}

.header .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}


/* Login */

.body-login {
    background-image: url('../img/oWlyMvz.gif');
}

.header-login {
    background-size: cover;
}

.header-login .navbar {
    background-color: #000000bf !important;
}

.header-login .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem!important;
    padding-top: 60px;
}

div .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #00000082;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}


/* Empleado*/


/*  Empleado  */

.body-empleado {
    background-image: url('../img/back.gif');
}

.header-empleado {
    background-size: cover;
}

.header-empleado .navbar {
    background-color: #000000bf !important;
}

.header-empleado .navbar ul .nav-link:hover {
    background-color: #9910CB;
    border-radius: 10px;
}

div .opacity {
    background: rgba(0, 0, 0, .5);
}

.campos {
    color: white;
}

.tamam {
    width: 100%
}
.parallax-window{

    height: 888px;
}